.banner-title {
    font-family: "Onder", sans-serif;
    font-weight: 500;
    font-size: 170px;
    line-height: 200%;
    letter-spacing: 3%;
    text-align: center;
    vertical-align: middle;

    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(220, 220, 220, 1));
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;

    display: inline-block;
    margin: 0 auto;
}

.banner {
    transition: all 1s ease;
}

.banner-content-main {
    padding: 128px 64px 48px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.meet-button {
    padding: 20px 52px;
    border-radius: 0 40px;
    font-size: 26px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 4px;
}

.quote-title {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
}

.quote-content {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;

    max-width: 400px; /* TODO: change */
    opacity: 80%;
}

.banner .kipi {
    position: absolute;
    will-change: transform;
}

.banner .kipi .kipi-eyes {
    transition: all 1s ease;
    opacity: 0;
}

.banner .kipi .kipi-eyes.kipi-eyes-active {
    opacity: 1;
}

.benefit-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 var(--big-side-margin);
}

.benefit-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 128px;

    border-radius: var(--small-radius);
    padding: 24px;

    transition: all 0.2s ease;

    &:nth-child(even) {
        flex-direction: column-reverse;
    }

    &.calm {
        background: var(--calm);
        color: #000;
    }

    &.angry {
        background: var(--angry);
        color: #fff;
    }

    &.sad {
        background: var(--sad);
        color: #fff;
    }

    &.lovely {
        background: var(--lovely);
        color: #fff;
    }

    &:hover {
        transform: scale(1.01);
    }
}

.benefit-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.benefit-title {
    font-family: "Onder", sans-serif;
    font-size: 16px;
}

.benefit-description {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.benefit-kipi {
    width: 80% !important;
    height: auto;
    margin: 0 auto;

    transition: all 1s ease;
}

.benefit-card:hover .benefit-kipi {
    --shake-deg: -1deg;

    animation: kipi-shake 1s linear infinite;
}

@keyframes kipi-shake {
    0% {
        rotate: 0deg;
    }
    25% {
        rotate: var(--shake-deg);
    }
    50% {
        rotate: 0deg;
    }
    75% {
        rotate: calc(-1 * var(--shake-deg));
    }
    100% {
        rotate: 0deg;
    }
}

.companies-card {
    gap: 16px;
}

.company-cards {
    width: 100%;
    overflow: hidden;
}

.company-cards-track {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    gap: 16px;
    animation: slide 12s linear infinite;

    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.company-cards-track:hover {
    animation-play-state: paused;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50% - 8px));
    }
}

.company-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--small-radius);
    background: rgba(243, 243, 243, 1);

    width: 25vw !important;
    height: 15vh;
}

.demo-image-banner {
    border-radius: var(--big-radius);
    margin: var(--small-side-margin);
    position: relative;
    height: 100%;
    overflow: hidden;
}

.demo-image-banner .demo-banner-image {
    width: 100%;
    height: auto;
}

.demo-image-banner .demo-info {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    overflow: hidden;
}

.demo-info .marquee-track {
    display: inline-block;
    white-space: nowrap;
    font-family: "Onder", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;

    animation: demo-text-marquee 20s linear infinite;
}

@keyframes demo-text-marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.demo-card-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 32px;
}

.demo-info-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    margin: 0 var(--big-side-margin);
}

.demo-info-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;

    background: rgba(243, 243, 243, 1);

    border-radius: var(--small-radius);
    padding: 18px 20px 22px 24px;
}

.demo-info-card .demo-info-card-value {
    font-family: "Onder", sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
}

.demo-info-card:nth-child(even) .demo-info-card-value {
    font-family: "Onder", sans-serif;
    font-size: 40px;
    color: rgba(138, 41, 242, 1);
}

.demo-info-card .demo-info-card-title {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width: 576px) {
    .banner .kipi {
        position: static;
        width: 90%;
        margin: 32px auto 0;
    }

    .banner-title {
        font-size: 42px;
    }

    .banner-content-main {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding: 16px;
        gap: 24px;
    }

    .quote {
        align-items: center;
        text-align: center;
        margin-bottom: 16px;
    }

    .quote-title {
        font-size: 18px;
        font-style: normal;
    }

    .quote-content {
        font-size: 14px;
        width: 100%;
        align-self: stretch;
    }

    .meet-button {
        font-size: 22px;
        width: 100%;
        margin-bottom: 12px;
    }

    .benefit-cards {
        overflow-y: scroll;
        margin: 0;
        padding: 0 var(--small-side-margin);
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .benefit-card {
        width: calc(100dvw - var(--small-side-margin) * 6);
    }

    .company-card {
        width: calc(100dvw - var(--small-side-margin) * 6) !important;
    }

    .company-cards-track:hover {
        animation-play-state: running;
    }

    .demo-banner-image {
        aspect-ratio: 2/3;
        object-fit: cover;
    }

    .demo-info-cards {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin: 0;
        padding: 0 var(--small-side-margin);
    }

    .demo-info-card {
        width: calc(100dvw - var(--small-side-margin) * 6);
    }
}