* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

a, button {
    cursor: pointer;
}

:root {
    --big-side-margin: 62px;
    --small-side-margin: 16px;

    --small-radius: 24px;
    --big-radius: 32px;

    --card-padding: 24px;
    --card-small-padding: 16px;

    --calm: rgba(118, 242, 41, 1);
    --angry: rgba(242, 71, 41, 1);
    --sad: rgba(138, 41, 242, 1);
    --lovely: rgba(242, 41, 122, 1);
}

@media screen and (max-width: 576px) {
    :root {
        --big-side-margin: 16px;
        --small-side-margin: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: stretch;
}

body.modal-open {
    overflow: hidden;
}

.wrapper {
    margin: 16px;
}

.banner {
    border-radius: var(--big-radius);
    background: var(--angry);
    overflow: hidden;
    color: #fff;

    display: flex;
    flex-direction: column;
}

.nav-wrapper {
    padding: var(--card-padding) 40px 48px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    /* Semi-transparent background tint */
    background: rgba(255, 255, 255, 0.15);

    /* The frosted glass blur effect */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* Safari support */

    /* Subtle light-reflective border */
    border: 1px solid rgba(255, 255, 255, 0.25);

    /* Smooth edges and a soft shadow for depth */
    border-radius: 50vh;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.nav-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 8px 0 8px 36px;
    flex: 1;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;

    font-family: "Manrope", sans-serif;
    margin: 0 auto;
}

.nav-items-mobile {
    display: none;
    font-family: "Manrope", sans-serif;
    overflow: hidden;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-size: 16px;
    line-height: 150%;
    letter-spacing: 3%;
    vertical-align: middle;
    color: #fff;
}

.download-button {
    align-self: stretch;
    background: #ffffff;
    padding: 12px 24px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 3%;
    vertical-align: middle;
    border-radius: 50vh;
}

.nav-burger {
    display: none;
}

.nav-burger-checkbox {
    display: none;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    height: min-content;
    color: #fff;
}

.logo-img {
    height: 32px;
}

.logo-title {
    font-size: 12px;
    font-family: "Onder", sans-serif;
}

.logo-description {
    font-size: 10px;
    font-family: "Manrope", sans-serif;
}

.banner-content {
    display: flex;
}

/* KIPI */
.kipi {
    display: flex;
    position: relative;
    width: 40%;
}

.kipi .kipi-mask {
    width: 100%;
    height: auto;
}

.kipi .kipi-eyes {
    width: 100%;
    position: absolute;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 40px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;
    margin: 0 var(--big-side-margin);
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.card-description, .card-description-mobile {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.card-title-mobile, .card-description-mobile {
    display: none;
}

.card-title, .card-title-mobile {
    font-family: "Onder", sans-serif;
    font-size: 24px;
}

.card-button {
    padding: 12px 32px;
    gap: 8px;

    color: #fff;
    background: #000;

    text-align: center;
    font-family: "Manrope", sans-serif;

    border-radius: 24px 0;

    &.inverted-button {
        color: #000;
        background: #fff;
    }

    &.reversed-button {
        border-radius: 0 24px;
    }

    &:hover {
        color: var(--calm);
    }
}

nav a:hover {
    color: var(--calm);
}

footer {
    position: relative;
    border-radius: var(--small-radius);
    margin: 0 var(--small-side-margin);
    background: #000;
    color: #fff;
    padding: 42px 50px 240px;
    overflow: hidden;
    margin-bottom: var(--small-side-margin);
}

.footer-columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 128px;
}

.footer-content-columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 64px;
}

.footer-content-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.footer-content-column-header {
    font-family: "Onder", sans-serif;
    font-size: 11px;
}

.footer-content-column-menu-tile {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

.footer-content-column-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.footer-button {
    font-size: 16px;
}

.footer-bottom-title {
    font-family: "Onder", sans-serif;
    font-weight: 500;
    font-size: 111px;
    position: absolute;
    bottom: -27px;
}


.team-card-cards {
    margin: 0 var(--big-side-margin);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.team-card-column {
    display: flex;
    flex-direction: column;
    &:nth-child(even) {
        flex-direction: column-reverse;
    }
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
}

.team-card-big-card {
    position: relative;
    width: 100%;
    aspect-ratio: 1.5625;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 6px;

    background: rgba(0, 0, 0, 1);
    border-radius: var(--small-radius);
    overflow: hidden;
}

.team-card-big-card:hover .team-card-big-card-img {
    transform: scale(1.05);
}

.team-card-big-card-purple {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(242, 41, 122, 0.87) 0%, rgba(0, 0, 0, 0.87) 100%);
    z-index: 2;
}

.team-card-big-card-green {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(118, 242, 41, 0.87) 0%, rgba(0, 0, 0, 0.87) 93.26%);
    z-index: 2;
}

.team-card-big-card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    transition: transform 0.2s ease-in-out;
}

.team-card-big-card-purple .team-card-big-card-img {
    top: 21px;
}

.team-card-big-card-title {
    font-family: "Onder", sans-serif;
    font-size: 16px;
    color: #fff;
    z-index: 3;
}

.team-card-big-card-description {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.6;
    color: #fff;
    z-index: 3;
}

.team-card-small-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
}

.team-card-small-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    border-radius: 24px;
    background: rgba(243, 243, 243, 1);
    overflow: hidden;
    aspect-ratio: 1;
}

.team-card-small-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    height: 100%;
}

.team-card-big-card-title {
    font-family: "Onder", sans-serif;
    font-size: 16px;
    color: #fff;
    z-index: 3;
}

.team-card-big-card-description {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.6;
    color: #fff;
    z-index: 3;
}

.team-card-small-card .team-card-small-card-title {
    font-family: "Onder", sans-serif;
    font-size: 18px;
}

.team-card-small-card .team-card-small-card-description {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.team-card-small-card .team-card-small-card-button {
    width: 100%;
    font-size: 16px;

    margin-top: 16px;

    border-top-radius: 0 24px;
}

.team-card-small-card-support-image {
    margin-bottom: 16px;
    width: 100%;
}

.team-card-small-card-partners-image-wrapper {
    width: 100%;
    padding-top: 16px;
    padding-left: 16px;
    flex: 1;
}

.team-card-small-card-weekly {
    position: relative;
}

.team-card-small-card-weekly .team-card-small-card-content {
    justify-content: space-between;
}

.team-card-small-card-weekly .team-card-small-card-weekly-image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 92%;
    z-index: 2;
}

.team-card-small-card-more .team-card-small-card-content {
    justify-content: flex-end;
}

.modal-wrapper {
    display: none;
}

.modal-wrapper.modal-open {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.5);
}

.modal {
    font-family: "Geist", sans-serif;
    position: relative;
    background: rgba(19, 27, 31, 0.4);
    backdrop-filter: blur(30px);
    border-radius: var(--small-radius);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(247, 247, 247, 0.2);

    max-width: 376px;

    color: #fff;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 16px;
}

.modal-title {
    font-size: 24px;
}

.modal-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.modal-field-title {
    font-size: 12px;
}

.modal-field-input {
    display: block;
    border-radius: 16px;
    border-width: 1px;
    gap: 6px;
    padding: 12px 16px;
    width: 100%;

    font-size: 16px;
    color: #000;
}

.modal-field-input::placeholder {
    color: rgba(187, 187, 187, 1);
}

.modal-field-input:user-invalid {
    border: 1.5px solid rgba(213, 59, 47, 1);
}

.modal-field-invalid {
    display: none;
}


.modal-field-input:user-invalid ~ .modal-field-invalid {
    display: block;

    font-size: 12px;
    color: rgba(213, 59, 47, 1);
}

.modal-button {
    border-radius: 16px;
    gap: 16px;
    padding: 12px 48px;

    font-size: 18px;

    background: rgba(242, 71, 41, 1);

    width: 100%;
    color: #fff;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 12px;
    width: 12px;

    cursor: pointer;
}


.modal-checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.modal-checkbox-title {
    font-size: 12px;
}

.modal-checkbox {
    height: 16px;
    width: 16px;

    accent-color: rgba(242, 71, 41, 1);
}

.modal-checkbox:user-invalid ~ .modal-checkbox-title {
    color: rgba(242, 71, 41, 1);
}

.modal-info {
    font-size: 12px;
    align-self: center;
    text-align: center;
}

.team-card-mobile {
    display: none;
}

@media screen and (max-width: 576px) {
    .download-button {
        display: none;
    }

    nav {
        border-radius: 24px;
        flex-direction: column;
        align-items: stretch;
    }

    .nav-wrapper {
        padding: 16px;
    }

    .nav-inner {
        justify-content: space-between;
        padding: 8px 36px;
    }

    .nav-items {
        display: none;
    }

    .nav-burger {
        position: relative;
        display: block;
        background: none;
    }

    .nav-burger, .nav-burger-image-inactive, .nav-burger-image-active {
        width: 24px;
        height: 24px;
    }

    .nav-burger-image-inactive, .nav-burger-image-active {
        position: absolute;
        inset: 0;
        transition: opacity 0.2s ease;
    }

    .nav-burger-image-inactive {
        opacity: 1; /* Show burger by default */
    }

    .nav-burger-image-active {
        opacity: 0;  /* Hide close icon by default */
    }

    /* TOGGLED STATES */
    .nav-burger-checkbox:checked ~ .nav-burger-image-inactive {
        opacity: 0;
    }

    .nav-burger-checkbox:checked ~ .nav-burger-image-active {
        opacity: 1;
    }

    .nav-items-mobile {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s ease-out;
    }

    .nav-mobile-wrapper {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 16px;
    }

    /* FIX: Target the main parent container instead of using the sibling selector */
    nav:has(.nav-burger-checkbox:checked) .nav-items-mobile {
        grid-template-rows: 1fr;
    }

    .banner {
        gap: 16px;
    }

    .card-header .card-button {
        display: none;
    }

    .team-card-cards {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin: 0;
        padding: 0 var(--small-side-margin);
    }

    .team-card-small-cards {
        display: none;
    }

    .team-card-mobile {
        display: flex;
        justify-content: flex-end;
        margin: 0 var(--small-side-margin);
    }

    .team-card-small-card-more.team-card-mobile {
        justify-content: flex-end;
    }

    .team-card-big-card {
        height: 100%;
        aspect-ratio: 2/3;

        .team-card-big-card-img {
            object-fit: cover;
            width: auto;
        }
    }

    .team-card-column {
        &:nth-child(even) {
            flex-direction: column;
        }
    }

    .footer-columns {
        flex-direction: column;
        gap: 32px;
    }

    .footer-content-columns {
        flex-direction: column;
    }

    footer {
        padding: 0;

        .footer-columns {
            padding: 42px 36px;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;

        .logo-img {
            width: 46px;
            height: 46px;
        }

        .logo-title {
            font-size: 20px;
        }

        .logo-description {
            font-size: 16px;
        }
    }

    .footer-content-column-header {
        font-size: 14px;
    }

    .footer-content-column-menu-tile {
        font-size: 18px;
    }

    .footer-button {
        display: none;
    }

    .footer-bottom-title {
        position: static;
        margin: 0 calc(-1 * var(--small-side-margin));
        margin-bottom: calc(-1 * var(--small-side-margin));
        padding: 0 calc(-1 * var(--small-side-margin));
        font-size: 36px;
        white-space: nowrap;
    }

    .card-title {
        font-size: 18px;
    }
}